{{inventory_hostname}};{{system.stdout_lines[0]}};{{ansible_kernel}};{{kernel.stdout}};{{ansible_distribution}} {{ansible_distribution_version}};{{uptime.stdout_lines[0]}};{{ansible_default_ipv4.address}}
